.container {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px black solid;
  padding: 15px;
}
.mashin {
  font-size: 20px;
  font-weight: bold;
}
